window#waybar {
    font-family: UbuntuNerdFont;
    font-weight: 500;
    font-size: 16px;
    background-color: #282828;
    color: #dfbf8e;
    border-radius: 10px;
}

#workspaces button {
    background-color: #282828;
    color: #dfbf8e;
}

#workspaces button.active {
    background-color: #282828;
    color: #dfbf8e;
    border-bottom: 4px solid #dfbf8e;
    border-radius: 0px;
}

#workspaces button.empty {
    background-color: #282828;
    color: #dfbf8e; 
}


    
