window#waybar {
    font-family: UbuntuNerdFont;
    font-weight: 500;
    font-size: 16px;
    background-color: #2e3440;
    color: #d8dee9;
    border-radius: 20px;
}

#workspaces button {
    background-color: #2e3440;
    color: #d8dee9;
}

#workspaces button.focused {
    background-color: #2e3440;
    color: #d8dee9;
    border-bottom: 4px solid #8fbcbb;
    border-radius: 0px;
}

#workspaces button.visible {
    background-color: #2e3440;
    color: #d8dee9; 
}


    
