@import "gruvbox-dark.css";

window {
  background-image: url("/home/joppe/Pictures/background/blur-background.jpg");
  background-size: cover;
  background-position: center;
}

#powerbar-revealer > box,
#playerctl-revealer > box {
  padding: 0px;
  border: 0px solid @foreground;
  border-radius: 15px;
  background-color: @background;
}

#powerbar-revealer > box {
  padding: 8px;
}

#playerctl-revealer > box {
  padding: 12px;
  margin-bottom: 4em;
}

#input-label {
  font-size: 0;
}

#clock-label,
#date-label {
  color: @foreground;
}

#clock-label {
  font-size: 10em;
}

#date-label {
  margin-bottom: 12em;
  font-size: 2.5em;
}

#input-field,
#unlock-button {
  background-color: @background;
  border: 0px;
  margin-left: 6.5em;
  margin-right: -6.5em;
}

