* {
	background-color: #2e3440;
}

window {
        border-color: #d8dee9;
}

prompt {
	background-color: #434c5e;
        text-color: #d8dee9;
}

entry { 
	background-color: #434c5e;
        text-color: #d8dee9;
}

element-text {
        text-color: #d8dee9;
}

element-text selected {
	background-color: #d8dee9;
	text-color: #2e3440;
}

