[Desktop Entry]
Type=Application
Name=dual monitors
Comment=turn on secondary monitor
Icon=/home/joppe/Scripts/icons/monitor.png
Exec=/home/joppe/Scripts/dual-monitor.sh
Terminal=false
Categories=Scripts
