* {
	background-color: #383c4a;
}

window {
        border-color: #5294e2;
}

prompt {
	background-color: #4b5162;
        text-color: #5294e2;
}

entry {
	background-color: #4b5162;
        text-color: #5294e2;
}

element-text {
        text-color: #5294e2;
}

element-text selected {
	background-color: #5294e2;
	text-color: #383c4a;
}

