configuration {
	modes: "drun";
	font: "Ubuntu Nerd Font Medium 14";
	location: 0;
	show-icons: false;
	terminal: "alacritty";
	drun-display-format: "{name}";
	disable-history: false;
	display-drun: "";
}

@theme "gruvbox-material-dark"
