* {
	background-color: #282828;
}

window {
        border-color: #dfbf8e;
}

prompt {
	background-color: #45403d;
        text-color: #dfbf8e;
}

entry {
	background-color: #45403d;
        text-color: #dfbf8e;
}

element-text {
        text-color: #dfbf8e;
}

element-text selected {
	background-color: #dfbf8e;
	text-color: #282828;
}

