* {
	background-color: #1a1b26;
}

window {
        border-color: #a9b1d6;
}

prompt {
	background-color: #24283b;
        text-color: #a9b1d6;
}

entry {
	background-color: #24283b;
        text-color: #a9b1d6;
}

element-text {
        text-color: #a9b1d6;
}

element-text selected {
	background-color: #a9b1d6;
	text-color: #1a1b26;
}

