window#waybar {
    font-family: UbuntuNerdFont;
    font-weight: 500;
    font-size: 16px;
    background-color: #2e3440;
    color: #8fbcbb;
    border-radius: 20px;
}

#tags button {
    background-color: #2e3440;
    color: #8fbcbb;
}

#tags button.focused {
    background-color: #2e3440;
    color: #8fbcbb;
    border-bottom: 2px solid #8fbcbb;
    border-radius: 0px;
}

#tags button.occupied {
    background-color: #2e3440;
    color: #8fbcbb; 
}


    
