window#waybar {
    font-family: UbuntuNerdFont;
    font-weight: 500;
    font-size: 16px;
    background-color: #282828;
    color: #dfbf8e;
    border-radius: 20px;
}

#tags button {
    background-color: #282828;
    color: #dfbf8e;
}

#tags button.focused {
    background-color: #282828;
    color: #dfbf8e;
    border-bottom: 2px solid #dfbf8e;
    border-radius: 0px;
}

#tags button.occupied {
    background-color: #282828;
    color: #dfbf8e; 
}

#tags button:not(.occupied):not(.focused) {
    font-size: 0;
    min-width: 0;
    min-height: 0;
    padding: 0 0;
    border: 0;
}

#clock.time,
#clock.date, 
#tray,
#window {
    background-color: #45403d;
    border-radius: 20px;
    margin: 4px 4px 4px 4px;
    padding: 0px 4px;
}

#clock.date {
    padding: 0px 0px 0px 10px;
}

#window {
    padding: 0px 10px;
}

#mpris, 
#custom-kernel, 
#custom-cpu, 
#custom-gpu, 
#custom-water, 
#custom-pump, 
#custom-fans, 
#custom-memory, 
#custom-DualSense {
    background-color: #45403d;
    border-radius: 20px;
    margin: 4px 4px 4px 0px;
    padding: 0px 4px;
}
    
