window#waybar {
    font-family: UbuntuNerdFont;
    font-weight: 500;
    font-size: 16px;
    background-color: #2e3440;
    color: #d8dee9;
    border-radius: 10px;
}

#workspaces button {
    background-color: #2e3440;
    color: #d8dee9;
}

#workspaces button.active {
    background-color: #2e3440;
    color: #d8dee9;
    border-bottom: 2px solid #8fbcbb;
    border-radius: 0px;
}

#workspaces button.empty {
    background-color: #2e3440;
    color: #d8dee9; 
}

#battery.critical {
    color: #bf616a;
}

    
