window#waybar {
    font-family: UbuntuNerdFont;
    font-weight: 500;
    font-size: 16px;
    background-color: #2e3440;
    color: #8fbcbb;
    border-radius: 10px;
}

#workspaces button {
    background-color: #2e3440;
    color: #8fbcbb;
}

#workspaces button.active {
    background-color: #2e3440;
    color: #8fbcbb;
    border-bottom: 2px solid #8fbcbb;
    border-radius: 0px;
}

#workspaces button.empty {
    background-color: #2e3440;
    color: #8fbcbb; 
}

#battery.critical {
    color: #bf616a;
}

#clock.time,
#clock.date, 
#tray,
#window {
    background-color: #434c5e;
    border-radius: 20px;
    margin: 4px 4px 4px 4px;
    padding: 0px 4px;
}

#clock.date {
    padding: 0px 0px 0px 10px;
}

#window {
    padding: 0px 10px;
}

#mpris, 
#custom-kernel, 
#custom-cpu, 
#custom-gpu, 
#custom-memory, 
#custom-DualSense,  
#battery {
    background-color: #434c5e;
    border-radius: 20px;
    margin: 4px 4px 4px 0px;
    padding: 0px 4px;
}
    
